<!-- Submit form -->
<form method="get" class="input-submit-form" action="{% url 'researchdata:output' %}">
    <h4>{% block label %}{% endblock %}</h4>
    <!-- Submit -->
    <button class="input-submit-form-submit">
        <i class="fas fa-search"></i> {% block buttontext %}{% endblock %}
    </button>
    <!-- Hidden values -->
    <input type="hidden" name="cqpsearchquery">
    <input type="hidden" name="corpora-parallel-languages">
    <input type="hidden" name="outputtype" value="{% block type %}{% endblock %}">
    <!-- Options -->
    <div class="input-submit-form-options">
        <div class="input-submit-form-options-toggle"><i class="fas fa-sliders-h"></i> Show/hide options</div>
        <div class="input-submit-form-options-content">
            {% block options %}{% endblock %}
        </div>
    </div>
</form>