<script>
$(document).ready(function(){

    // Show/hide Build Query instances
    $('#corpora-monolingual-options').on('click', function(){
        corporaId = $(this).val();
        $('.buildquery').each(function(){
            if($(this).attr('data-id') === corporaId) $(this).show();
            else $(this).hide();
        });
    }).trigger('click');

    // Toggle active state of multiple choice languages in Parallel Corpus
    let corporaParallelOptionsSelected = []
    $('#corpora-parallel-options-list li').on('click', function(){
        selectedClassName = 'selected';
        thisValue = $(this).attr('data-val')
        // Deselect an already selected option
        if($(this).hasClass(selectedClassName)){
            $(this).removeClass(selectedClassName);
            // Remove from list of selected options
            corporaParallelOptionsSelected = corporaParallelOptionsSelected.filter(function(e) { return e !== thisValue; })
        }
        // Select an option
        else if(!$(this).hasClass(selectedClassName)){
            $(this).addClass(selectedClassName);
            corporaParallelOptionsSelected.push(thisValue);
        }
        // Update the hidden form item, ready to pass to server
        $('#corpora-parallel-options').val(String(corporaParallelOptionsSelected));
        // Show/hide visibility of buildquery divs
        $('.buildquery').each(function(){
            if(corporaParallelOptionsSelected.includes($(this).attr('data-id'))) $(this).show();
            else $(this).hide();
        });
    }).first().trigger('click');  // Trigger first, so at least one will be shown on page load

    // Toggle visibility of buildquery body instances when clicking on header
    $('.buildquery-head').on('click', function(){
        let thisBody = $(this).next('.buildquery-body');
        let thisVisibilityIcon = $(this).find('.buildquery-head-visibilityicon');

        // If body hidden, show body and change icon to minus
        if(thisBody.is(":hidden")){
            thisBody.slideDown(200);
            thisVisibilityIcon.html('<i class="fas fa-minus"></i>');
        }
        // If body is visible, hide it and change icon to plus
        else {
            thisBody.slideUp(200);
            thisVisibilityIcon.html('<i class="fas fa-plus"></i>');
        }
    });

    // Buildquery Basic Search Instance Buttons: Add
    $('.buildquery-body-basicsearch-instancebuttons-add').on('click', function(){
        let basicsearchInstances = $(this).closest('.buildquery-body').find('.buildquery-body-basicsearch-instances');
        basicsearchInstances.append(`
<div class="buildquery-body-basicsearch-instances-instance">
    <label>Token<input type="text" class="buildquery-body-basicsearch-instances-instance-token"></label>
    <label>Lexeme<input type="text" class="buildquery-body-basicsearch-instances-instance-lexeme"></label>
    <label>Gram. Tag<input type="text" class="buildquery-body-basicsearch-instances-instance-tag"></label>
    <!-- Checkboxes -->
    <div class="checkboxgroup">
        <label><input type="checkbox" class="buildquery-body-basicsearch-instances-instance-beginswith" name="beginswith">Begins with</label>
        <label><input type="checkbox" class="buildquery-body-basicsearch-instances-instance-endswith" name="endswith">Ends with</label>
        <label><input type="checkbox" class="buildquery-body-basicsearch-instances-instance-casesensitive" name="casesensitive">Case sensitive</label>
    </div>
    <!-- Tokens In Between -->
    <label class="buildquery-body-basicsearch-instances-instance-tokensinbetween">
        Tokens in between
        <input type="number" title="tokensinbetween-from" class="buildquery-body-basicsearch-instances-instance-tokensinbetween-from">
        <input type="number" title="tokensinbetween-to" class="buildquery-body-basicsearch-instances-instance-tokensinbetween-to">
    </label>
</div>`);
        hideLastTokenInBetween(basicsearchInstances);
    }).trigger('click');

    // Buildquery Basic Search Instance Buttons: Remove
    $('.buildquery-body-basicsearch-instancebuttons-remove').on('click', function(){
        let basicsearchInstances = $(this).closest('.buildquery-body').find('.buildquery-body-basicsearch-instances');
        if(basicsearchInstances.children().length > 1){
            basicsearchInstances.children().last().remove();
            hideLastTokenInBetween(basicsearchInstances);
            buildCqpSearch($(this).closest('.buildquery-body'));  // Update query
        }
    });

    // Hide the last 'Tokens in between'
    function hideLastTokenInBetween(basicsearchInstances){
        basicsearchInstances.find('.buildquery-body-basicsearch-instances-instance-tokensinbetween').show();
        basicsearchInstances.find('.buildquery-body-basicsearch-instances-instance-tokensinbetween').last().hide();
    }

    // Build CQP Search
    function buildCqpSearch(buildqueryBody){

        let cqpSearchQuery = "";  // Will be appended to during function

        // For each basic search instance
        buildqueryBody.find('.buildquery-body-basicsearch-instances-instance').each(function() {

            let cqpSearchQueryInstance = "";  // Will be appended to during loop

            // Get values from inputs
            let word = $(this).find('.buildquery-body-basicsearch-instances-instance-token').val();
            let lemma = $(this).find('.buildquery-body-basicsearch-instances-instance-lexeme').val();
            let tag = $(this).find('.buildquery-body-basicsearch-instances-instance-tag').val();
            let wordBeginsWith = $(this).find('.buildquery-body-basicsearch-instances-instance-beginswith').prop('checked');
            let wordEndsWith = $(this).find('.buildquery-body-basicsearch-instances-instance-endswith').prop('checked');
            let wordCaseSensitive = $(this).find('.buildquery-body-basicsearch-instances-instance-casesensitive').prop('checked');

            // Build word
            if (word.length > 0){
                // Begins with
                if (wordBeginsWith) word += ".*";
                // Ends with
                else if (wordEndsWith) word = ".*" + word;
                // Wrapper
                word = 'word="' + word + '"';
                // Case insensitive
                if (!wordCaseSensitive) word += "%c";
            }

            // Build lemma
            if (lemma.length > 0) lemma = 'lemma="' + lemma + '"';

            // Build tag
            if (tag.length > 0) tag = 'ta="' + tag + '"';

            // Combine word, lemma, tag
            let include = []
            for (const i of [word, lemma, tag]) if (i.length > 0) include.push(i);
            if (include.length > 0) cqpSearchQueryInstance += "[" + include.join(" & ") + "]";

            // Build 'tokens in between'
            let tibFrom = parseInt($(this).find('.buildquery-body-basicsearch-instances-instance-tokensinbetween-from').val());
            let tibTo = parseInt($(this).find('.buildquery-body-basicsearch-instances-instance-tokensinbetween-to').val());
            if (cqpSearchQueryInstance.length > 0 && tibFrom > 0 && tibTo > 0 && tibFrom < tibTo){
                cqpSearchQueryInstance += "[]{" + tibFrom + "," + tibTo + "}";
            }

            // Append to overall search query
            cqpSearchQuery += cqpSearchQueryInstance;
        });

        // Metadata
        let metaNames = ['year', 'court_type', 'date', 'title', 'url', 'judges', 'citation'];
        let metaQueries = [];  // Filled in below loop
        for (const metaName of metaNames) {
            let metaItem = buildqueryBody.find('.buildquery-body-metadata-' + metaName).val();
            if (metaItem) metaQueries.push('match.meta_' + metaName + '="' + metaItem + '"');
        }
        if (metaQueries.length > 0 && cqpSearchQuery.length > 0) cqpSearchQuery += "::" + metaQueries.join(" & ")

        // Set completed search in the CQP Search input
        buildqueryBody.find('.buildquery-body-cqpsearch-query').val(cqpSearchQuery);
    }

    // Execute Build CQP Search on 'keyup' (i.e. typing into a textbox)
    $('.buildquery-body').on('keyup', 'input[type="text"], input[type="number"]', function(){
        buildCqpSearch($(this).closest('.buildquery-body'));
    });

    // Execute Build CQP Search on 'change' (i.e. selecting a checkbox)
    $('.buildquery-body').on('change', 'input[type="checkbox"]', function(){
        buildCqpSearch($(this).closest('.buildquery-body'));
    });

    // Empty CQP Search on load
    $('.buildquery-body-cqpsearch-query').val('');

    // Input submit forms (e.g. search, frequency, collocation, ngrams)
    $('.input-submit-form-submit').on('click', function(e){
        e.preventDefault(); // Stop form submitting
        const form = $(this).parent();

        // Set hidden CQP Search Queries values (loop through all and concat values)
        cqpsearchqueries = "";
        $('.buildquery-body-cqpsearch-query').each(function(){ cqpsearchqueries += $(this).val(); });
        form.find('[name="cqpsearchquery"]').val(cqpsearchqueries);

        form.submit();
    });

    // Toggle options
    $('.input-submit-form-options-toggle').on('click', function(){
        // Show/hide the options
        $(this).next('.input-submit-form-options-content').slideToggle(300);
        // Scroll to bottom of page
        $("html, body").animate({ scrollTop: $(document).height() }, 300);
    });

});
</script>