{% extends "researchdata/snippets/input-submit-form.html" %}
{% load static %}


{% block type %}collocations{% endblock %}

{% block label %}Collocations{% endblock %}

{% block buttontext %}Collocations{% endblock %}

{% block options %}
    <div>
        <label>Count by</label>
        <select name="collocations-countby" title="countby">
            <option value="word">word</option>
            <option value="lemma">lemma</option>
        </select>
    </div>
    <div>
        <label>Span (left)</label>
        <input type="number" name="collocations-spanleft" title="spanleft" value="3">
    </div>
    <div>
        <label>Span (right)</label>
        <input type="number" name="collocations-spanright" title="spanright" value="3">
    </div>
    <div>
        <label>Frequency threshold</label>
        <input type="number" name="collocations-frequencythreshold" title="frequencythreshold" value="2">
    </div>

    <!-- Chosen Stats -->
    <!-- Hidden field (filled via JS on form submit) -->
    <input type="hidden" id="collocations-chosen-stats" name="collocations-chosen-stats">
    <!-- Checkbox options -->
    <div>
        <label><input type="checkbox" class="collocations-chosen-stats-choice" value="llr" checked>Log-likelihood ratio</label>
    </div>
    <div>
        <label><input type="checkbox" class="collocations-chosen-stats-choice" value="mi" checked>MI</label>
    </div>
    <div>
        <label><input type="checkbox" class="collocations-chosen-stats-choice" value="mi3" checked>MI3</label>
    </div>
    <div>
        <label><input type="checkbox" class="collocations-chosen-stats-choice" value="t-score" checked>T-score</label>
    </div>
    <div>
        <label><input type="checkbox" class="collocations-chosen-stats-choice" value="z-score" checked>Z-score</label>
    </div>
    <div>
        <label><input type="checkbox" class="collocations-chosen-stats-choice" value="dice" checked>Dice</label>
    </div>
    <div>
        <label><input type="checkbox" class="collocations-chosen-stats-choice" value="frequency" checked>Frequency</label>
    </div>
{% endblock %}