{% extends "researchdata/snippets/input-submit-form.html" %}
{% load static %}


{% block type %}search{% endblock %}

{% block label %}Search{% endblock %}

{% block buttontext %}Search{% endblock %}

{% block options %}
    <div>
        <label>Entries per page</label>
        <input type="number" name="search-entriesperpage" title="entriesperpage">
    </div>
    <div>
        <label>Big size limit</label>
        <input type="number" name="search-bigsizelimit" title="bigsizelimit">
    </div>
{% endblock %}