{% extends "researchdata/input.html" %}
{% load static %}


<!-- Title -->
{% block title %}Parallel Corpora{% endblock %}

<!-- Corpora -->
{% block corpora_title %}Choose a Corpus{% endblock %}
{% block corpora_list %}
    <input type="hidden" id="corpora-parallel-options">
    <ul id="corpora-parallel-options-list">
        <li data-val="birm_eng">English</li>
        <li data-val="birm_fra">French</li>
        <li data-val="birm_deu">German</li>
    </ul>
{% endblock %}

<!-- Build Query -->
