{% extends "base.html" %}
{% load static %}

{% block main %}

<section>
    <h2>Monolingual Corpora</h2>

    <div id="output-backbutton" onclick="history.back()">Back</div>

    <h4>Query</h4>
    {{ query_input }}

    <!-- Search -->
    {% if output_type == 'search' %}
        <h4>Search</h4>
        {% for q in query_output %}
            <p>{{ q }}</p>
        {% endfor %}
    {% endif %}

    <!-- Frequency -->
    {% if output_type == 'frequency' %}
        <h4>Frequency</h4>
        {{ query_output }}
    {% endif %}

    <!-- Collocations -->
    {% if output_type == 'collocations' %}
        <h4>Collocations</h4>
        {{ query_output }}
    {% endif %}

    <!-- N-grams -->
    {% if output_type == 'ngrams' %}
        <h4>N-grams</h4>
        {{ query_output }}
    {% endif %}
    
</section>

{% endblock %}