{% extends "base.html" %}
{% load static %}

{% block main %}

<section id="output">
    <h2>Monolingual Corpora</h2>

    <div id="output-backbutton" onclick="history.back()">Back</div>

    <h3>CWB Query</h3>
    {{ cwb_query }}

    <!-- Search -->
    {% if output_type == 'search' %}
        {% include "researchdata/snippets/output-search.html" %}
    {% endif %}

    <!-- Frequency -->
    {% if output_type == 'frequency' %}
        {% include "researchdata/snippets/output-frequency.html" %}
    {% endif %}

    <!-- Collocations -->
    {% if output_type == 'collocations' %}
        {% include "researchdata/snippets/output-collocations.html" %}
    {% endif %}

    <!-- N-grams -->
    {% if output_type == 'ngrams' %}
        {% include "researchdata/snippets/output-ngrams.html" %}
    {% endif %}
    
</section>

{% endblock %}