{% extends "base.html" %}
{% load static %}

{% block main %}

<section id="output">

    <div id="output-details">
        <strong>CWB Query: </strong> {{ cwb_query }}
        <br>
        <strong>Primary Language: </strong> English
        <br>
    </div>

    <!-- Search -->
    {% if output_type == 'search' %}
        {% include "researchdata/snippets/output-search.html" %}
    {% endif %}

    <!-- Frequency -->
    {% if output_type == 'frequency' %}
        {% include "researchdata/snippets/output-frequency.html" %}
    {% endif %}

    <!-- Collocations -->
    {% if output_type == 'collocations' %}
        {% include "researchdata/snippets/output-collocations.html" %}
    {% endif %}

    <!-- N-grams -->
    {% if output_type == 'ngrams' %}
        {% include "researchdata/snippets/output-ngrams.html" %}
    {% endif %}
    
</section>

{% endblock %}