{% extends "base.html" %}
{% load static %}
{% load settings_value %}

{% block main %}

<section>
    <h2>Welcome</h2>
    <p>
        Welcome to the website of the EUCLCORP Project! This project is led by Dr Karen McAuliffe and based at the University of Birmingham's <a href="https://www.birmingham.ac.uk/schools/law/index.aspx">School of Law</a>.
    </p>
    <p>
        Through this website you can find out more <a href="{% url 'general:about' %}">about the project</a>, find out how to <a href="{% url 'general:contact' %}">get in touch</a>, and browse our data via a <a href="{% url 'researchdata:monolingual' %}">monolingual</a> or <a href="{% url 'researchdata:parallel' %}">parallel</a>
    </p>
</section>

<section>
    <h3>The EU Case Law Corpus Project</h3>
    <p>
        On the 1st of July 2016 Dr Karen McAuliffe and her research team began work on the European Research Council (ERC)-funded Proof of Concept Project 'EU Case Law Corpus - EUCLCORP' at Birmingham Law School.  The grant allowed the team to develop a working prototype of the corpus (EUCLCORP). The project demonstrated the use of corpus linguistics research methods both in the field of legal scholarship and in practical terms in the legal arena.
    </p>
    <p>
        The EUCLCORP project was delivered on schedule and under budget on the 31st of December 2017.
    </p>
</section>

{% endblock %}