
/* ---------- General ---------- */

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background: #272727;
    margin: 0;
    font-weight: 400;
}

a {
    color: #0F8138;
    text-decoration: none;
}

a:hover {
    color: #04a33f;
    text-decoration: none;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    line-height: 1em;
    font-weight: bold;
    color: white;
}

h1 span {
    font-weight: normal;
    color: #19BE54;
}

h2 {
    font-size: 2.3em;
    font-weight: bold;
}

h2:not(:first-of-type) {
    padding-top: 2em;
}

h3 {
    padding: 1.2em 0 0.1em 0;
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    padding: 0.3em 1.3em 0.3em 0.3em;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    display: block;
    border: 1px solid #BBB;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    background-color: white;
}

.image-circle {
    border: 0.3rem solid rgba(255,255,255,0.6);
    border-radius: 100%;
    width: 13em;
    max-width: 90%;
    display: block;
    margin: 1em auto;
}

.hidden {
    display: none;
}

/* ---------- Popup ---------- */

.popup {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100000000;
}

.popup-content {
    background: #F7F7F7;
    position: fixed;
    top: 15vh;
    overflow-y: auto;
    padding: 3em;
    text-align: center;
}

.popup-content-title {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 1.5em;
    color: #0F8138;
}

.popup-submit {
    background-color: #0F8138;
    color: white;
    appearance: none;
    border: none;
    display: block;
    width: fit-content;
    margin: 3em auto 0.5em auto;
    padding: 0.8em 1.6em;
    padding-bottom: 0.7em;
    border-radius: 0.2em;
}

.popup-submit:hover {
    color: white;
    opacity: 0.89;
}

.popup-hide {
    cursor: pointer;
    position: absolute;
    right: 0.8em;
    top: 0.4em;
    font-size: 1.8em;
    padding: 0.2em;
    color: #909090;
}

.popup-hide:hover {
    color: #0F8138;
}

/* ---------- Forms ---------- */

form.full-form p {
    margin: 1em 0 2em 0;
}

form.full-form label,
form.full-form textarea,
form.full-form input[type=text],
form.full-form input[type=url],
form.full-form input[type=email],
form.full-form input[type=password],
form.full-form input[type=number] {
    display: block;
    width: 100%;
}

form.full-form textarea {
    height: 4em;
}

form.full-form label {
    margin-bottom: 0;
}

form.full-form ul {
    list-style-type: none;
    padding-left: 0;
}

form.full-form .helptext {
    color: #505050;
    font-size: 0.85em;
    font-style: italic;
    margin: 0.2em;
    display: block;
}

form.full-form .errorlist {
    color: #c0392b;
}

button {
    border-radius: 0.4em;
}

form.full-form button[type=submit] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    padding: 0.7em;
    margin: 1em auto;
    background: #0F8138;
    color: white;
    width: 100%;
}

form.full-form button[type=submit]:hover {
    opacity: 0.9;
}

.full-form-footer-links a {
    display: block;
    padding: 0.5em;
    margin: 2em auto;
    text-align: center;
    background: #DDD;
    border-radius: 0.4em;
}

.full-form-footer-links a:hover {
    color: #0F8138;
    opacity: 0.8;
}

form.full-form button[type=submit].button-danger {
    background: #c23616;
}

.checkboxgroup {
    display: inline-block;
}

/* ---------- Navigation ---------- */

nav {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 17rem;
    height: 100vh;
    color: white;
    background: #272727;
}

#nav-head a {
    padding: 1.5rem;
    display: block;
    text-align: center;
}

nav a {
    color: white;
}

nav ul {
    padding: 2em 0 0 0;
    margin-left: 0;
    list-style: none;
}

nav ul li a {
    display: block;
    padding: 1rem;
    opacity: 0.6;
    border-left: 0.4rem solid transparent;
}

nav ul li a:hover {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    opacity: 0.8;
}

nav ul li a.active {
    opacity: 1;
    border-left: 0.4rem solid #19BE54;
    background: rgba(0, 0, 0, 0.2);
}

nav ul li a i {
    display: inline-block;
    width: 1.5rem;
    margin-right: 0.5em;
    text-align: center;
}

#nav-base {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
    padding-bottom: 2em;
}

#nav-base * {
    opacity: 0.6;
}

#nav-base a {
    padding: 0.4em;
    display: inline-block;
}

#nav-base a:hover {
    color: inherit;
    opacity: 1;
}


/* ---------- Main ---------- */

main {
    margin: 0 0 0 17rem;
    width: calc(100% - 17rem);
    overflow-x: hidden;
    min-height: 100vh;
    padding: 2.7rem 3.3rem;
    background: #F5F5F5;
}

/* ---------- Input ---------- */

#corpora-parallel-options-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

#corpora-parallel-options-list li {
    display: inline-block;
    padding: 0.3em 0.9em;
    margin: 0.3em 0.3em;
    background: #CCC;
    cursor: pointer;
}

#corpora-parallel-options-list li:hover {
    opacity: 0.85;
}

#corpora-parallel-options-list li.selected {
    background: #0F8138;
    color: white;
}

.buildquery {
    display: none;
    margin: 0.5em 0;
}

.buildquery-head {
    background: #0F8138;
    cursor: pointer;
    color: #EEE;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.5em 1em;
    width: 100%;
}

.buildquery-head-visibilityicon {
    float: right;
}

.buildquery-body,
#input-submit-forms form {
    background: rgba(0, 0, 0, 0.05);
    padding: 1em;
    vertical-align: top;
    margin: 0em;
}

.buildquery-body h4 {
    margin-top: 1em;
}

.buildquery-body button {
    background: #0F8138;
    color: white;
    font-size: 1.5em;
    padding: 0em 1em;
    border: none;
    border-radius: 0.2em;
    margin: 0.4em 0.2em;
}

.buildquery-body label {
    font-size: 0.9em;
    font-weight: bold;
    margin: 0.2em 1em 0.2em 0.2em;
    display: inline-block;
}

.buildquery-body input {
    margin: 0.2em 0 0 0.3em;
}

.buildquery-body input[type='checkbox'] {
    margin-right: 0.3em;
}

.buildquery-body-basicsearch-instances-instance-tokensinbetween {
    display: block;
    width: 100%;
    padding: 0.8em 0;
    margin: 0.8em 0;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
}

#input-submit-forms form {
    display: inline-block;
    width: calc(25% - 1.3em);
    min-width: 15em;
    margin: 0 0.5em 2em 0.5em;
}

h4 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.5em;
}

#input-submit-forms form label {
    font-size: 0.9em;
    margin-top: 1em;
    font-weight: bold;
}

#input-submit-forms form input,
#input-submit-forms form select {
    width: 100%;
    display: block;
}

#input-submit-forms form label input[type='checkbox'] {
    width: initial;
    display: inline-block;
    margin-right: 0.5em;
}

#input-submit-forms form button {
    border: none;
    background: #0F8138;
    color: white;
    display: block;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.2em;
    margin-top: 1em;
}

.input-submit-form-options-toggle {
    font-size: 0.85em;
    cursor: pointer;
    padding: 0.5em;
    color: #505050;
    margin-top: 1em;
}

.input-submit-form-options-toggle:hover {
    background: rgba(0, 0, 0, 0.1);
}

.input-submit-form-options-toggle i {
    font-size: 1rem;
    margin-right: 0.5em;
}

.input-submit-form-options-content {
    display: none;
}

/* ---------- Output ---------- */

#output-backbutton {
    cursor: pointer;
    width: fit-content;
}

#output table {
    margin: 1em 0;
    max-width: 100%;
    min-width: 30%;
    text-align: center;
}

#output table th {
    text-align: center;
}

#output table th,
#output table td {
    padding: 0.4em;
}

#output table th {
    background: #202020;
    color: #DDD;
}

#output table tr {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.05);
}

td.narrow {
    width: 2em;
}

/* Output - Search */

#output-search {
    width: 100%;
}

#output-search tr.output-search-item-primarydata {
    cursor: pointer;
}

#output-search tr.output-search-item-primarydata:hover {
    background: rgba(0, 0, 0, 0.08);
}

#output-search .primarydata-match {
    color: #0F8138;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.08);
    text-align: center;
}

#output-search .primarydata-leftcontext {
    text-align: right;
}

#output-search .primarydata-rightcontext {
    text-align: left;
}

#output-search .output-search-item-secondarydata {
    display: none;
    background: rgba(0, 0, 0, 0.1);
    text-align: left;
}

.output-search-item-secondarydata td div {
    padding: 0.64em 1.3em;
    font-size: 0.9em;
}

#output-search .output-search-item-secondarydata strong {
    font-size: 1.2em;
}

#output-search .output-search-item-secondarydata label {
    font-weight: bold;
    display: block;
    margin: 0.5em 0 0 0;
}

/* ---------- Error Pages ---------- */

.errorpage-path {
    font-weight: bold;
}

.errorpage-code {
    margin-top: 3em;
    font-size: 0.8em;
}
