@media (min-width: 992px) {

    /* ---------- Navigation ---------- */

    #nav-mobiletoggle {
        display: none;
    }

    nav {
        left: 0;
    }

    nav.nav-collapsed {
        width: 4.1rem;
        overflow-x: visible;
    }

    #nav-head a {
        padding: 1.5rem 0 1.1rem 0;
    }

    nav.nav-collapsed #nav-head-full {
        display: none;
    }

    nav ul li a {
        padding: 0.9rem;
    }

    nav.nav-collapsed ul li a.active {
        background: #019309;
    }

    nav.nav-collapsed ul li a span {
        display: none;
    }

    #nav-collapse {
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        width: 100%;
        padding: 1em 0;
        cursor: pointer;
        border-top: 1px solid #404040;
        font-size: 0.9em;
        background: #131313;
        color: #AAA
    }
    
    #nav-collapse:hover {
        color: #EEE;
        background: #202020;
    }

    /* ---------- Main ---------- */

    main {
        margin: 0 0 0 15rem;
        width: calc(100% - 15rem);
        padding: 2.7rem 3.3rem;
    }

    main.nav-collapsed {
        margin: 0 0 0 4.1rem;
        width: calc(100% - 4.1rem);
    }

}
